{% extends 'base.html' %}
{% block head %}
    <title>Group</title>
{% endblock %}
{% block body %}
    <ul>
        {% for id in messages_id %}
            <li>
                {{ Message.query.get(id).content }}
                {{ User.query.get(Message.query.get(id).author).name }}
            </li>
        {% endfor %}
    </ul>
    <form action="/group/{{ group_id }}", method="post">
        {{ form.csrf_token }}
        {{ form.content }}
        {{ form.submit }}
    </form>
{% endblock %}