{% extends 'base.html' %}
{% block head %}
    <title>Profile</title>
{% endblock %}
{% block body %}
    <h1>Hello {{ user.name }}</h1>
    <form action="/profile" method="post">
        {{ formCreate.csrf_token }}
        {{ formCreate.group_name }}
        {{ formCreate.code }}
        {{ formCreate.submit }}
    </form>
    <form action="/profile" method="post">
        {{ formJoin.csrf_token }}
        {{ formJoin.group_name }}
        {{ formJoin.code }}
        {{ formJoin.submit }}
    </form>
    <table>
        <thead>
            <tr>
                <th>Name of group</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ Group.query.filter_by(id=group.group_id).first().group_name }}
                    </td>
                    <td>
                        <a href="/group/{{ group.group_id }}">Open group</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}