{% extends 'base.html' %}
{% block head %}
    <title>Profile</title>
{% endblock %}
{% block body %}
    <h1>Hello {{ user.name }}</h1>
    <form action="/profile" method="post">
        {{ formCreate.csrf_token }}
        {{ formCreate.identifier(hidden=True, value='FORMCREATE') }}
        {{ formCreate.group_name }}
        {{ formCreate.code }}
        {{ formCreate.submit_create }}
    </form>
    <form action="/profile" method="post">
        {{ formJoin.csrf_token }}
        {{ formJoin.identifier(hidden=True, value='FORMJOIN') }}
        {{ formJoin.group_name }}
        {{ formJoin.code }}
        {{ formJoin.submit_join }}
    </form>
    <p>Group Name: Pierwsza, Code: 11111</p>
    <p>Group Name: Druga, Code 22222</p>
    <table>
        <thead>
            <tr>
                <th>Name of group</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ Group.query.filter_by(id=group.group_id).first().group_name }}
                    </td>
                    <td>
                        <a href="/group/{{ group.group_id }}">Open group</a>
                        {% if Group.query.filter_by(id=group.group_id).first().admin == user.id %}
                            <a href="/group/{{ group.group_id }}/options">Group Options</a>
                        {% else if Group.query.filter_by(id=group.group_id).first().admin != user.id %}
                            <a href="/group/{{ group.group_id }}/leave"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}